*{
    margin: 0px;
    padding: 0px;
}

.hidden{
    display: none;
}

.form_wrapper{
    max-width: 480px;
    height: 400px;
    margin: 0px auto;
    transition: all 400ms ease 0s;
    color: rgb(31, 31, 31);
    background-color: transparent;
    border-color: purple;
    padding: 0px;
    border-radius: 4px;
    display: flex;
    justify-content: center;

}

.main_form{
    display: flex;
    flex-direction: column;

    margin: 0px auto;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-size-adjust: 100%;

}

.field_wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

#checkbox_wrapper{
    flex-direction: row;
    width: 100%;
}

.field_wrapper>label{
    margin-bottom: 4px;
    /* font-weight: 400; */
    /* font-size: 14px; */
    line-height: 18px;
    display: inline-block;
    font-style: normal;
    word-break: break-word;
}

.field_wrapper>input[type=text], .field_wrapper>input[type=email]{
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    line-height: inherit;
    width: 100%;
    max-width: 100%;
    /* border: 1px solid rgb(249, 72, 57); */
    border:1px solid rgb(209, 209, 209);
    color: rgb(31, 31, 31);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.04) 1px 1px 3px;
    transition: border-radius 200ms ease 0s;
    height: 36px;
    padding: 8px 10px;
    border-radius: 4px;
}

.field_wrapper>input[type=text]:focus,.field_wrapper>input[type=email]:focus,.field_wrapper>textarea:focus{
    border: 1px solid rgb(49, 122, 226);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px inset;
    outline: none;
}

.field_wrapper>textarea{
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-style: normal;
    font-weight: normal;
    line-height: inherit;
    width: 100%;
    max-width: 100%;
    border: 1px solid rgb(209, 209, 209);
    color: rgb(31, 31, 31);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.04) 1px 1px 3px;
    transition: border-radius 200ms ease 0s;
    height: 36px;
    padding: 8px 10px;
    border-radius: 4px;
    resize: vertical;
    min-height: 95px;
}

input[type=checkbox]{
      accent-color: rgb(49, 122, 226);
        box-shadow: rgba(0, 0, 0, 0.04) 1px 1px 3px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid rgb(194, 194, 194);
    box-sizing: border-box;
    background-color: white;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
}
#checkbox_wrapper>label{
    display: flex;
    flex-direction: row; 
    cursor: pointer;
}

#checkbox_wrapper>label>span{
    padding-left: 8px;
}

input[type="checkbox"]:checked + label::after {
   content: '';
   position: absolute;
   width: 1.2ex;
   height: 0.4ex;
   background: rgba(0, 0, 0, 0);
   top: 0.9ex;
   left: 0.4ex;
   border: 3px solid #1062a4;
   border-top: none;
   border-right: none;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

input[type="submit"]{
    box-shadow: rgba(0, 0, 0, 0.04) 1px 1px 3px;
    transition: border-radius 200ms ease 0s;
    height: unset;
    padding: 8px 10px;
    /* margin-top: 24px; */
    min-height: 48px;
    border-radius: 4px;
    line-height: 20px;
    font-weight: 600;
    font-size: 16px;
    background-color: rgb(247, 160, 6);
    border: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-family: inherit;
    font-style: normal;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    outline: none;
}





/* .field_wrapper>input:invalid{
    border: 1px solid rgb(249, 72, 57);
} */



.alert{
    color:rgb(249, 72, 57);
    line-height: 16px;
    margin-top: 4px;
    -webkit-box-align: center;
    align-items: center;
}

#answer{
    justify-self: center;
    align-self: center;
    text-align: center;

    margin-top: 16px;
    font-weight: 400;
    font-size: 25px;
    color: rgb(88, 88, 88);
}