.hidden{
    display: none;
}

.main_form{
    display: flex;
    flex-direction: column;
}

.field_wrapper{
    display: flex;
    flex-direction: column;
}

#checkbox_wrapper{
    flex-direction: row;
}



.alert{
    color:rgb(249, 72, 57);
}